<h2>Les consoles</h2>

<p>Rails est livré avec une console qui permet de passer toutes les commandes dont 
vous aurez besoin, <a href="http://guides.rubyonrails.org/command_line.html">rails</a>, 
bundle, rake et même git...                                            
<br>
<%= image_tag("console_rails.png", alt: "la console rails", width: "700px") %></p>

<p>Dans la pratique, vous ouvrirez une deuxième console pour lancer le serveur rails, 
sinon vous devrez arrêter celui-ci pour pouvoir accéder à la ligne de commande. Et donc pourquoi 
ne pas opter pour une console différente ? </p>

<h3>La console Git Bash</h3>
<p>Cette console ne sert pas que pour git. Elle permet de lancer toutes les commandes rails 
<%= link_to "avec tout de même quelques limitations pour les utilisateurs de windows", avecwindows_path %>. Un petit 'truc' : 
vous pouvez la lancer sur un clic droit à l'emplacement du répertoire de votre projet.</p>

<p><%= link_to image_tag("click_droit.png", alt: "ouvrir git bash", width: "700px"), "https://git-scm.com/downloads" %></p>
<p><a href="https://git-scm.com/downloads">Lien de téléchargement</a></p>
           