<footer class="footer">
  <small>
    <a href="https://cryptic-fjord-17249.herokuapp.com//">Comment bien débuter avec Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/kart-able/bien_debuter_avec_rails5/">sur GitHub</a></li>
      <li><a href="http://rubyonrails.org/">rubyonrails.org</a></li>
    </ul>
  </nav>
</footer>